{% extends "layout.njk" %}

{% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="image/favicon.ico" type="favicon.ico"/>
        <link rel="stylesheet" href="style.css">
        <title>Sobre | LaunchBase</title>
{% endblock %}

{% block content %}

<div id="wrapper">
            <img src="image/logo-rocketseat.png" alt="Logo da Rocketseat">
            <h1>Rocketseat</h1>
            <h3>Mais do que uma plataforma de educação em tecnologia, somos uma comunidade incrível de programadores em busca do próximo nível!</h3>
            </div>

        <div id="tecnologie">
            <h3>Principais Tecnologias</h3>
            <ul class="list">
                <li>JavaScript</li>
                <li>ReactJS</li>
                <li>NodeJS</li>
            </ul>
        </div>

        <div id="links-footer">
            <a href="https://github.com/Rocketseat" target="_blank">GitHub</a>
            <a href="https://www.instagram.com/rocketseat_oficial/" target="_blank">Instagram</a>
            <a href="https://www.facebook.com/rocketseat/" target="_blank">Facebook</a>
        </div>

{% endblock %}

