{% extends "layout.njk" %}

{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="image/favicon.ico" type="favicon.ico"/>
<link rel="stylesheet" href="style.css">
<title>Cursos | LaunchBase</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}

    <section class="trilhas">

        <div class="trilha" id="starter">
            <div class="starter">
                <div class="image">
                    <img src="image/starter.svg" alt="Trilha Starter">
                    <div class="trilha-content">
                    <p><strong class="p-starter">Torne-se um programador desejado</strong> no mercado com esses cursos gratuitos</p>
                </div>
                <div class="card__info">
                    <p>5 Módulos</p>
                    <p class="card__price" id="card-starter">Gratuíto</p>
                </div>
            </div>
            </div>
        </div>

        <div class="trilha" id="launchbase">
            <div class="launchbase">
                <div class="image">
                    <img src="image/launchbase.svg" alt="Trilha LaunchBase">
                <div class="trilha-content">
                    <p><strong class="p-launchbase">Domine a pramação do zero</strong> e tenha acesso as melhores oportunidades do mercado.</p>
                </div>
                <div class="card__info">
                    <p>16 Módulos</p>
                    <p class="card__price" id="card-launchbase">Pago</p>
                </div>
            </div>
            </div>
        </div>

        <div class="trilha" id="gostack">
            <div class="gostack">
                <div class="image">
                    <img src="image/gostack.svg" alt="Trilha GoStack">
                <div class="trilha-content">
                    <p><strong class="p-gostack">Treinamento imersivo</strong> nas tecnologias mais modernas do desenvolvimento Web e Mobile.</p>
                </div>
                <div class="card__info">
                    <p>13 Módulos</p>
                    <p class="card__price" id="card-gostack">Pago</p>
                </div>
            </div>
            </div>
        </div>

    </section>

    <div class="modal-overlay">
        <div class="modal">
            <div class="buttons-modal">
            <a class="maximize-modal">
                <i class="material-icons">maximize</i>
            </a>
            <a class="close-modal">
                <i class="material-icons">close</i>
            </a>           

            </div>

            <div class="modal-content">
                <iframe src="" frameborder="0"></iframe>
            </div>

        </div>

    </div>

    <script src="script.js"></script>

{% endblock %}