{% extends "layout.njk" %}

{% block head %}{% endblock %}

{% block content %}
<div class="header">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="image/favicon.ico" type="favicon.ico"/>
<link rel="stylesheet" href="style.css">
<title>Cursos | LaunchBase</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</div>

<div class="not-found">
    <div class="content">
        <img id='notFound-img' src="image\robo-404.jpg" alt="not found page">
    </div>
    </div>
</div>
{% endblock %}