{% extends "layout.njk" %}

{% block head %}{% endblock %}

{% block content %}
<div class="header">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="image/favicon.ico" type="favicon.ico"/>
<link rel="stylesheet" href="style.css">
<title>Cursos | LaunchBase</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</div>

<div class="not-found">
    <div class="content">
        <div class="msg">
        <h1>404</h1>    
        <h3>PAGE NOT FOUND</h3>
        </div>
    </div>
</div>
{% endblock %}