@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --color-starter: rgb(113, 89, 193);
    --color-launchbase: rgb(253, 149, 31);
    --color-gostack: rgb(4, 211, 97);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-image: url(image/universo-2.jpg);
    font-family: 'Roboto', sans-serif;
    color: white;
    background-repeat: unset;
}

header {
    padding: 30px;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
}

.links {
    /* margin: 0 auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 208px; */
    display: flex;
    align-items: center;
}

#logo {
    margin-right: 45%;
}

.links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    line-height: 28px;
    margin: 0 19px;
}

.links a:hover {
    font-weight: bold;
    color: var(--color-starter);
    transition: color 350ms;
}

#wrapper {
    text-align: center;
}

#wrapper img {
    border-radius: 50%;
    border: 3px solid white;
    margin-bottom: 32px;
    margin-top: 22px;
    height: 220px;
}

#wrapper h1 {
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
}

#wrapper h3 {
    max-width: 700px;
    margin: 20px auto;
    font-size: 20px;
    line-height: 34px;
}

#tecnologie {
    text-align: center;
    margin: 30px auto 20px;
    font-size: 20px;
    line-height: 34px;
}

#tecnologie ul {
    list-style-type: square;
}

#links-footer {
    text-align: center;
    margin: 0 auto;
}

#links-footer a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    line-height: 28px;
    margin: 0 19px;
}

#links-footer a:hover {
    font-weight: bold;
    color: var(--color-starter);
    transition: color 350ms;
}

#links-footer a {
    border-bottom: 1px solid var(--color-starter);
}

/*===GRIDS===*/

.trilhas {
    min-height: 100vh; 
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 24px;
}

.trilha {
    background-color: rgba(0, 0, 0, 0.521);
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    border: 2px solid black;
}

.image {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.trilha-content {
    padding: 30px;
    text-align: center;
    color: rgb(202, 202, 202);
    font-size: 16px;
    line-height: 26px;
    width: 270px;
    height: 78px;
}

.card__info p {
    color: rgb(135, 134, 139);
    padding: 5px 20px;
}

.card__info {
    text-align: center;
    margin-top: 35px;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


/*===CORES DOS CARDS===*/
#starter.trilha:hover{
    box-shadow: inset 0 0 1em var(--color-starter), 0 0 3em var(--color-starter);
    border: 3px solid var(--color-starter);
    transform: translateY(-10px);
    transition: 0.5s;
}

#launchbase.trilha:hover{
    box-shadow: inset 0 0 1em var(--color-launchbase), 0 0 2em var(--color-launchbase);
    border: 3px solid var(--color-launchbase);
    transform: translateY(-10px);
    transition: 0.5s;
}

#gostack.trilha:hover{
    box-shadow: inset 0 0 1em var(--color-gostack), 0 0 2em var(--color-gostack);
    border: 3px solid var(--color-gostack);
    transform: translateY(-10px);
    transition: 0.5s;
}

.p-launchbase {
    color: var(--color-launchbase);
}

.p-starter {
    color: var(--color-starter);
}

.p-gostack {
    color: var(--color-gostack)
}

#card-starter.card__price {
    background-color: var(--color-starter);
    filter: brightness(90%);
    padding: 5px 20px;
    border-radius: 20px;
    color: white;
}
#card-launchbase.card__price {
    background-color: var(--color-launchbase);
    filter: brightness(90%);
    padding: 5px 20px;
    border-radius: 20px;
    color: white;
}
#card-gostack.card__price {
    background-color: var(--color-gostack);
    filter: brightness(90%);
    padding: 5px 20px;
    border-radius: 20px;
    color: white;
}

/*=== MODAL ===*/
.modal-overlay{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: white;
    width: 60%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
}

.buttons-modal {
    color: black;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

.buttons-modal i {
    margin: 0 3px;
    
}

/*===MODAL.ACTIVE===*/

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

iframe {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 7%;
}

/*===MODAL MAXIMIZE===*/

.modal.maximize {
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

/*===NOT FOUND 404*/

.not-found {
    background-color: white;
    margin: 60px auto;
    border-radius: 90px;
    height: 400px;
    width: 800px;
    position: relative;
}

#notFound-img {
    width: 100%;
    height: 100%;
    position: absolute;

}

/* .msg h1 {
    color: black;
    text-align: center;
    font-size: 200px;
}

.msg h3 {
    color: black;
    text-align: center;
    font-size: 50px;
} */